
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="home.css">
  <style>
    button{
      background-color: rgb(31, 96, 152) ;
      background-color: rgb(31, 96, 152) ;
       color: white;
        border-radius:4px;
          border-color: rgb(75, 75, 180);
          border-color: whitesmoke;

   height: 30px;
    width: 100px;

    }
    button:hover{
      background-color: lightcoral;
      border-color: white;
    }
  </style>
</head>
<body>
  <h3>Welcome to Home Page </h3>

<div> If you want to part of this focus blow buttons
</div> <br>



<form  method="get"  action="/register" >
  <button >Register </button>
</form>

    


<form  method="get"  action="/login" >
  <button >Login </button>
</form>

    


    
<a href="/users"><button>Users</button></a>

   

   
   
</body>
</html>