



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<style>
  form{
    background-color: rgb(146, 146, 187);
    width: 200px;
    height: 200px;
   align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 4.5px;
  }

 input{
  width: 190px;
  height: 20px;
  border: none;
 }

 button{
  border-color: whitesmoke;
  width: 50px;
 margin-left: 35%;
 border-radius: 4px;
 border: 1px solid rgb(118, 118, 180) ;
 }
 

</style>
</head>
<body>
  Login YourSelf Here 
  <br><br>
  
  <form method="post" action="/login">

<br><br>
   <button>Login</button>
  </form>
  
</body>
</html>