<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>

    <h1>User Profile</h1>

    <hr>

   <% for( let p of user){ %>

    <h3>ID: <%= user._id %></h3>

    <h3>Username: <%= user.username %></h3>

    <h3>Email: <%= user.email %></h3>

    <%}%>

    <hr>
<a href="/logout">Logout</a>

    
</body>
</html>