



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<style>
  form{
    background-color: rgb(15, 15, 75);
    width: 200px;
    height: 200px;
   align-items: center;
  }

 input{
  width: 190px;
  height: 20px;
 }

 button{
  border-color: whitesmoke;

 }

</style>
</head>
<body>
  Register YourSelf Here 
  <br><br>
  <form method="post" action="/register">

  <input type="text" name="username"  placeholder="username">
 <br><br>
  <input type="text" name="email" placeholder="email">
<br><br>
  <input type="password" name="password"  placeholder="password">

<br><br>
   <button>sumbit</button>
  </form>
  
</body>
</html>